.nav__link {
    display: flex; 
}

.input-btn {
    width: 272px;
height: 40px;
    margin-top: 40px;
    margin-left: 156px;
    border-color: #808080;
    border-radius: 8px;
}

.input-btn:hover,
.input-btn:focus {
    border-color: #000000;
}

.btn {
    width: 75px;
    height: 40px; 
    background-color: #CFCFCF;
    color: #989898;
    border: none;
    border-radius: 8px;
}

.timer {
    display: flex;
    gap: 24px;
width: 346px;
height: 72px;
margin-top: 40px;
margin-left: 156px;



    background-color: blue;
}

.value {
    display: block;
    font-size: 40px;
    text-align: center;
}

.label {
    text-transform: uppercase;
}
